.DurationLabel {
  font-family: var(--oswald), serif;
  letter-spacing: 1px;

  &_type_clearBlur {
    background-color: rgba(20, 14, 6, 0.55);
    box-shadow: 0 4px 12px 0 #00000040;
  }
  &_type_blackWhite {
    background-color: #fff;
    color: var(--ink);
  }
}
