.PageTitle {
  text-shadow: 0 4px 4px #00000026;
  font-family: var(--font-poire-one), serif;

  &-TopTitle {
    color: var(--orange);
    font-size: 45px;
    text-align: right;
    -webkit-text-stroke: 4px var(--orange);
    letter-spacing: 5px;
  }

  &-MiddleTitle {
    color: #ffffffea;
    font-size: 35px;
    text-align: right;
    -webkit-text-stroke: 2px #ffffffea;
    letter-spacing: 2px;
    line-height: 1.3;
  }
}
