.ContactsWidget {
  position: relative;
  z-index: 3;
  min-height: 500px;
  margin-top: -70px;
  padding-top: 140px;
  padding-bottom: 140px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/bg-contacts-widget-xs.png');

  &_Header {
    margin-top: -75px;
  }
}
