.UpcomingActivities {
  position: relative;
  z-index: 2;
  margin-top: -45px;
  width: 100%;
  min-height: 700px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/images/bg-upcoming-activities-xs.jpg');

  &_DescriptionText {
    letter-spacing: 1.7px;
    font-family: var(--font-poire-one), serif;
    -webkit-text-stroke: 1px #ffffff;
  }

  &_EmptyBadge {
    display: block;
    height: 100%;
    margin-top: 20vh;
    text-align: center;
    vertical-align: center;
    font-family: var(--font-poire-one), serif;
    -webkit-text-stroke: 1px #ffffff;
  }
}
